body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
}

h1 {
    font-size: 66px;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 45px;
    width: 150px;
    border: 1px solid rgb(30, 28, 28);
    border-radius: .4rem;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   transition: 0.4s;
   background-color: #dda15e;
   color: #fefae0;
}

button:hover {
    color: #463f3a;
    background-color: #dda15e;
    transform: scale(1.1);
    box-shadow: 10px 10px 30px #ccc5b9;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 60px;
}

#container {
    width: 960px;
    height: 960px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgb(167, 165, 165);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
   
}

#sizeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ccc5b9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#sizeSlider:hover {
    opacity: 1;
}

#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dda15e;
    cursor: pointer;
}

#sizeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dda15e;
    cursor: pointer;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.4s;
}

#colorPicker:hover {
    transform: scale(1.1);
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #dda15e;
}

#colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #dda15e;
}

footer {
    margin-top: 20px;
    font-size: 24px;
    color: #333339;
}

.box {
    border: .1px solid rgb(0, 0, 0);
    transition: 0.2s;
}
