body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
}

h1 {
    font-size: 66px;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 45px;
    width: 150px;
    border: 1px solid rgb(30, 28, 28);
    border-radius: .4rem;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   transition: 0.4s;
   background-color: #dda15e;
   color: #fefae0;
}

button:hover {
    color: #463f3a;
    background-color: #dda15e;
    transform: scale(1.1);
    box-shadow: 10px 10px 30px #ccc5b9;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 60px;
}

#container {
    width: 560px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgb(167, 165, 165);

    display: grid;
}

#sizeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ccc5b9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#sizeSlider:hover {
    opacity: 1;
}

#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dda15e;
    cursor: pointer;
}

#sizeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dda15e;
    cursor: pointer;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    width: 120px;
    height: 120px;
    cursor: pointer;
    transition: 0.4s;
}

#colorPicker:hover {
    transform: scale(1.1);
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #dda15e;
}

#colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #dda15e;
}

footer {
    margin-top: 20px;
    font-size: 24px;
    color: #333339;
}

.box {
    background-color: white;
    transition: 0.2s;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 110px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #bada55;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }